<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeexhibition">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".B0WriteActivity"></activity>
        <activity android:name=".Board_Munch" />
        <activity android:name=".Exhibition_Pi" />
        <activity android:name=".Exhibition_Ren" />
        <activity android:name=".Exhibiton_Dega" />
        <activity android:name=".Exhibiton_Raf" />
        <activity android:name=".Exhibiton_Mo" />
        <activity android:name=".Exhibiton_Ego" />
        <activity android:name=".Exhibiton_Da" />
        <activity android:name=".Exhibiton_Go" />
        <activity android:name=".Exhibiton_Man" />
        <activity android:name=".Exhibiton_Mat" />
        <activity android:name=".Exhibition_Rous" />
        <activity android:name=".Reply" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".Community" />
        <activity android:name=".Exhibition_Ruv" />
        <activity android:name=".Exhibition_Rou" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".login2" />
        <activity android:name=".register" />
        <activity android:name=".Loginresult" />
        <activity android:name=".Exhibition_van" />
        <activity android:name=".ExhibitionActivity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>